<section class="dst-block">
[[Snippet.ContentHeader]]

  <div class="dst-container">


    <div class="component-row component-row--social-buttons">
      <h4 class="component-row__header">Social Buttons</h4>
      <div class="social-buttons social-buttons--titles">
        <ul class="social-block social-block__hexagon social-block__hexagon--titles">
          <li>
            <a href="<%=TXT_SOCIAL_FACEBOOK%>" target="_blank" class="social-facebook" title="<%=TXT_DEALERSHIP_NAME%> on Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="social-title">Facebook</span>
              <span class="sr-only">Like <%=TXT_DEALERSHIP_NAME%> on Facebook! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_TWITTER%>" target="_blank" class="social-twitter" title="<%=TXT_DEALERSHIP_NAME%> on Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="social-title">Twitter</span>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Twitter! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_INSTAGRAM%>" target="_blank" class="social-instagram" title="<%=TXT_DEALERSHIP_NAME%> on Instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span class="social-title">Instagram</span>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Instagram! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_GOOGLE%>" target="_blank" class="social-google" title="<%=TXT_DEALERSHIP_NAME%> on Google+">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              <span class="social-title">Google+</span>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Google Plus! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_YOUTUBE%>" target="_blank" class="social-youtube" title="<%=TXT_DEALERSHIP_NAME%> on YouTube">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
              <span class="social-title">YouTube</span>
              <span class="sr-only">Check out the <%=TXT_DEALERSHIP_NAME%> YouTube channel! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_INSTAGRAM%>" target="_blank" class="social-pinterest" title="<%=TXT_DEALERSHIP_NAME%> on Pinterest">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              <span class="social-title">Pinterest</span>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Pinterest! (opens in new window)</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="social-buttons social-buttons--no-titles">
        <ul class="social-block social-block__hexagon social-block__hexagon--no-titles">
          <li>
            <a href="<%=TXT_SOCIAL_FACEBOOK%>" target="_blank" class="social-facebook" title="<%=TXT_DEALERSHIP_NAME%> on Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="sr-only">Like <%=TXT_DEALERSHIP_NAME%> on Facebook! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_TWITTER%>" target="_blank" class="social-twitter" title="<%=TXT_DEALERSHIP_NAME%> on Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Twitter! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_INSTAGRAM%>" target="_blank" class="social-instagram" title="<%=TXT_DEALERSHIP_NAME%> on Instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Instagram! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_GOOGLE%>" target="_blank" class="social-google" title="<%=TXT_DEALERSHIP_NAME%> on Google+">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Google Plus! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_YOUTUBE%>" target="_blank" class="social-youtube" title="<%=TXT_DEALERSHIP_NAME%> on YouTube">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
              <span class="sr-only">Check out the <%=TXT_DEALERSHIP_NAME%> YouTube channel! (opens in new window)</span>
            </a>
          </li>
          <li>
            <a href="<%=TXT_SOCIAL_INSTAGRAM%>" target="_blank" class="social-pinterest" title="<%=TXT_DEALERSHIP_NAME%> on Pinterest">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              <span class="sr-only">Follow <%=TXT_DEALERSHIP_NAME%> on Pinterest! (opens in new window)</span>
            </a>
          </li>
        </ul>
      </div>
    </div> <!-- End Social Buttons row -->

    <div class="component-row component-row--links">
      <a class="hex-shape-link" href="/" title="anchor title">
        <span class="hex-span"><i class="fa fa-tags" aria-hidden="true"></i></span>
      </a>
      <a class="hex-shape-link--larger" href="/" title="anchor title">
        <span class="hex-span"><i class="fa fa-tags" aria-hidden="true"></i></span>
      </a>
      <a class="hex-shape-link--solid" href="/" title="anchor title">
        <span class="hex-span"><i class="fa fa-tags" aria-hidden="true"></i></span>
      </a>
      <a class="hex-shape-link--largerer" href="/" title="anchor title">
        <span class="hex-span"><i class="fa fa-tags" aria-hidden="true"></i></span>
      </a>
      <a class="hex-shape-link--smaller" href="/" title="anchor title">
        <span class="hex-span"><i class="fa fa-plus" aria-hidden="true"></i></span>
      </a>
    </div>

    <div class="component-row component-row--shapes">
      <div class='octagonWrap'>
        <div class='octagon'><i class="fa fa-tags" aria-hidden="true"></i></div>
      </div>

      <div class="hexagon"></div>
    </div>

  </div>
</section>
