<div class="dst-block">
  <div class="dst-header">
    [[Image.Banner1]]
    <h1>Web accessibility for Navbar Menus</h1>
    <div class="dst-header-text"> [[PageSnippet.HeaderText1]] </div>
  </div>


  <div class="dst-content">
    <section>
      <h4>Using aria-label to provide labels for objects</h4>
      <ul class="list-instructions">
        <li>The purpose of this technique is to provide a label for objects that can be read by assistive technology. The <code class="code-inline">aria-label</code> attribute provides the text label for an object, such as a button. When a screen reader encounters the object, the <code class="code-inline">aria-label</code> text is read so that the user will know what it is.</li>
      </ul>
    </section>
  </div>
</div>
