<script src="/imglib/Support/YouTuber/youtuber.min.js" type="text/javascript"></script>
<section class="dst-block youtuber-playlist">
[[Snippet.ContentHeader]]

<div class="dst-content">[[PageSnippet.content1]]</div>

<div id="video-wrapper"> </div>

</section>
<script>
var exampleOptionsPlaylist = {
      wrapperId: 'video-wrapper', // id for plugin wrapper
      playerId: 'video-player', // id for generated player (becomes iframe ID)
      titleTag: 'h2', // type of element for title
      type: 'playlist', //video,videos,playlist,channel
      // videos: ['7Z4WREdbajg','N-n7qQOaHpk','morktqVZQ7A','fiIzZpYmJtA'], // type: video,videos
      playlist: 'PL5bfX3AM0gvz2VEKjiD2wwjMNSpmX6YuX', // type: playlist
      // channel: 'UCtwnAv4q_hMyvyi8Gkl16MA', // type: channel
      resultsPerPage: 4, // items per page, max 50
      //eventsCallback: eventsCallback, // callback function for events (comment this out if you're not using it)
      //loadCallback: loadCallback, // callback function on load of plugin (comment this out if you're not using it)
      nextPageBtn: '#nextPage', // next page button selector
      nextVidBtn: '#nextVideo', // next video button selector
      prevPageBtn: '#prevPage', // previous page button selector
      prevVidBtn: '#prevVideo', // previous video button selector
      nextAfterEnd: true, // play next video once video currently playing ends
      infiniteScroll: true, // remove pagination in favor of infinite scroll
      showControls: true, // show/hide player controls
      removeBranding: false, // show/hide modest branding
      showRel: true, // show/hide relevent videos after end
      showInfo: true, // show/hide video information in player
      loopVideo: true, // loop current video after end
      autoPlay: false // automatic play video on load
};
var videoPlayer = new YouTuber(exampleOptionsPlaylist);

</script>
